* {
  box-sizing: border-box;
}

/* car icon */
.sidenav img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  height: auto;
  opacity: 1;
}

.sidenav img:hover,
.sidenav img:focus {
  filter: brightness(1.15);
  }

/* sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #000000;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Courier New";
  font-weight: bold;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #cf38ff;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

    .sidenav a {
      font-size: 18px;
    }
}

/* headers for all site pages */
h1 {
  margin-left: 170px;
  font-family: "Courier New";
  border: 1px solid #fff;
}

/* dark gray for the content body */
body {
  color: white;
  background-color: #191919;
  margin: 0;
}

/* the storyboard carousel position is hard-coded to deal with issues lining it up underneath the YT video (530 x 315 px) */
.carousel {
  position: absolute;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0; /* only the active slide should be visible */
  z-index: -1;
}

.slide > img {
  z-index: -1;
  object-fit: contain;
  margin-top: 10px;
  width: 560px;
  height: auto;
}

.slide[data-active] {
  opacity: 1;  /* only the active slide should be visible */
}

/* center the carousel buttons vertically & horizontally */
.buttons-container {
  display: flex;
  width: 560px;
  height: 315px;
  justify-content: space-between;
  align-items: center;
}

/* set the look of the carousel buttons */
.carousel-button {
  background: none;
  border: none;
  border-radius: 0%;
  font-size: 2rem;
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, .3);
}

.carousel-button:focus {
  outline: 1px solid black;
}

/* content stays on the left, description on the right */
.main {
  display: flex;
  flex-direction: row;
}

/* scrollable text box for the storyboard description */
.storyboard-description-container,
.about-description-container {
  border: 2px solid #fff;
  padding: 20px;
  overflow: auto;
  height: 640px;   /* height of vid (315) + height of carousel (315) + margin (10) */
}

.about-container {
  display: flex;
  align-items: start;
}

.about-container > img {
    width: 576px;
    height: auto;
    object-fit: contain;
    border: 2px solid #fff;
}

.about-description-container {
  height: 576px; /* img height (576) - box padding (40) */
}

.char-design-container {
  height: auto;
  object-fit: contain;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.char-design-container > img {
  width: 525px;
  height: auto;
}

/* this image needs to be hardcoded for resize bc it is much larger than the others */
.large-turnaround > img {
  width: 525px;
  height: auto;
  object-fit: contain;
  display: inline;
}

.work-links {
  margin-left: 160px;
}