*, *::before, *::after {
  box-sizing: border-box;
}

h1 {
  font-family: "Courier New";
}

body {
  color: white;
  background-color: black;
  margin: 0;
  position: fixed;
}

.carousel {
  position: absolute;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.slide > img {
  object-fit: contain;
  width: 920px;
  height: auto;
}

.slide[data-active] {
  opacity: 1;
}

.carousel-button {
  position: relative;
  z-index: 2;
  background: none;
  border: none;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  transform: translateY(-50%, -50%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .2);
  max-width: 100%;
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, .3);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}
/* icon */
.sidenav img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  height: auto;
  align: center;
  opacity: 1;
}

.sidenav img:hover,
.sidenav img:focus {
  opacity: .8;
}

/* The sidebar menu */
.sidenav {
 height: 100%; /* Full-height: remove this if you want "auto" height */
 width: 160px; /* Set the width of the sidebar */
 position: fixed; /* Fixed Sidebar (stay in place on scroll) */
 z-index: 1; /* Stay on top */
 top: 0; /* Stay at the top */
 left: 0;
 background-color: #111; /* Dark gray */
 overflow-x: hidden; /* Disable horizontal scroll */
 padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
 padding: 6px 8px 6px 16px;
 text-decoration: none;
 font-size: 20px;
 font-family: "Courier New";
 font-weight: bold;
 color: #818181;
 display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
 color: #cf38ff;
}

/* Style page content */
.main {
 margin-left: 160px; /* Same as the width of the sidebar */
 padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
}
